{% extends "nav.html" %}

{% block body %}
  	<div class="container">
	  <form method="post" action="/club/">
	  	{% csrf_token %}
		<h3>New Review!</h3>
		<div class="row">
			<div class="rating", label="How do you rate this book?">
				<label>
					<input type="radio" name="stars" value="1" />
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="stars" value="2" />
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="stars" value="3" />
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="stars" value="4" />
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="stars" value="5" />
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">{{ form.title.label }}</div>
				<div class="row">{{ form.title }}</div>
			</div>
			<div class="col">
				<div class="row">{{ form.author.label }}</div>
				<div class="row">{{ form.author }}</div>
			</div>
			<div class="col">
				<div class="row">{{ form.illustrator.label }}</div>
				<div class="row">{{ form.illustrator }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">{{ form.funniest.label }}</div>
				<div class="row">{{ form.funniest }}</div>
			</div>
			<div class="col">
				<div class="row">{{ form.exciting.label }}</div>
				<div class="row">{{ form.exciting }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">{{ form.happiest.label }}</div>
				<div class="row">{{ form.happiest }}</div>
			</div>
			<div class="col">
				<div class="row">{{ form.saddest.label }}</div>
				<div class="row">{{ form.saddest }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row">{{ form.comments.label }}</div>
				<div class="row">{{ form.comments }}</div>
			</div>
		</div>
		<input type="submit" value="Submit">
	  </form>
	</div>
{% endblock %}